<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_shop">

    <application>
        <activity android:name=".ShopItemDetailActivity"></activity>
        <activity android:name=".ShopActivity"></activity>
    </application>

</manifest>