<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_create">

    <application>
        <activity android:name=".HandActivity"></activity>
        <activity android:name=".DrawActivity">
        </activity>
    </application>

</manifest>